ul#index {
  padding-left: 0;
  list-style-type: none;
}


#message {
  height: 10em;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-floating {
  padding: 0 0 1rem 0;
}