ul#index {
  padding-left: 0;
  list-style-type: none;
}


#message {
  height: 10em;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-floating {
  padding: 0 0 1rem 0;
}

.new-article-form {
  display: flex;
  flex-direction: column;
  max-width: 65%;
}

.form-group {
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {


.new-article-form {
  max-width: 80%;
}

}