#message {
  height: 10em;
}

#title-admin-table {
  color: black;
  text-decoration: solid;
}

ul.pagination {
  margin-top: 15px;
}

.text-short {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

body {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    transparent
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main {
  background: #e73c7e;
  opacity: 100%;
}

#table-admin {
  background: rgba(255, 255, 255, 0.397);
  padding: 1rem 1rem 1rem 1rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

.navbar {
  background: rgba(255, 255, 255, 0.397);
  border-radius: 1rem;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-floating {
  padding: 0 0 1rem 0;
}

.new-article-form {
  display: flex;
  flex-direction: column;
  max-width: 65%;
}

.form-group {
  margin-bottom: 10px;
}

#a-new-article {
  text-decoration: none;
  color: white;
}

#btn-add-new-article {
  margin: 1rem 0 2rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 230px;
  width: 400px;
}

.row:hover {
  background: rgba(126, 127, 127, 0.525);
}

.article-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.397);
  padding: 2rem 2rem 2rem 2rem;
  border-style: none;
}

.main-site-articles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {

  .new-article-form {
    max-width: 80%;
  }


}

@media screen and (max-width: 768px) {
  .row {
    width: 300px;
    height: 230px;
  }
}
